html(ng-app="listaTele")
	head
		meta(charset="UTF-8")
		title Fluxo de Caixa
		script(type="text/javascript", src="lib/angular/angular.js")
		script(type="text/javascript", src="lib/angular/angular-resource.js")
		script(type="text/javascript", src="lib/angular/angular-route.js")
		script(type="text/javascript", src="js/script.js")
		link(rel="stylesheet" href="lib/foundation/foundation.css")
		link(rel="stylesheet" href="lib/foundation/normalize.css")
	body(ng-Controller="listaCtrl")
		br
		br
		div.row
			div.small-8.medium-6.large-6.columns
				h3
					i Fluxo de Caixa

		div.row
			div.small-4.medium-5.large-6.columns
				input.form-control(ng-model="buscar" type="text"
				placeholder="Pesquisar...")
			div.small-5.medium-4.large-6.columns
				button.tiny.radius.info(data-reveal-id="fluxoDeCaixaModal" name="botaoTest" ng-click = "show('cadastrar')") Cadastrar Fluxo de Caixa

		div(ng-show="load" style="margin-left: 40%; margin-top: 100px;")
			img(src="img/load/load.gif")

		div.row(ng-show="!load")
			table#tabl.small-2.medium-6.large-12.columns
				tr
					th
						a(href='#' ng-click="ordenarPor('codigoFluxo'); showIcon('codigo'); iconOrder=!iconOrder") Código
						img(ng-show='codigoIcon' src="img/{{icon}}")

					th
						a(href='#' ng-click="ordenarPor('descricao'); showIcon('descricao'); iconOrder=!iconOrder") Descrição
						img(ng-show='descricaoIcon' src="img/{{icon}}")

					th
						a(href='#' ng-click="ordenarPor('tipo'); showIcon('tipo'); iconOrder=!iconOrder") Tipo
						img(ng-show='tipoIcon' src="img/{{icon}}")

					th
						a(href='#' ng-click="ordenarPor('classe'); showIcon('classe'); iconOrder=!iconOrder") classe
						img(ng-show='classeIcon' src="img/{{icon}}")

					th
						a(href='#' ng-click="ordenarPor('status'); showIcon('status'); iconOrder=!iconOrder") Status
						img(ng-show='statusIcon' src="img/{{icon}}")

					th
						a Ações

				tr(ng-repeat="fluxo in fluxos | filter:buscar |orderBy: criterio: direcao")
					td {{fluxo.codigoFluxo | limitTo: 15}}{{fluxo.codigoFluxo.length > 15 ? "..." : "" }}
					td {{fluxo.descricao | limitTo: 20}}{{fluxo.codigoFluxo.length > 20 ? "..." : "" }}
					td {{fluxo.tipo}}
					td {{fluxo.classe}}
					td {{fluxo.status}}
					td
						a(data-reveal-id="fluxoDeCaixaModal" id="editar_{{fluxo.codigoFluxo}}" ng-click = "show('editar', fluxo.codigoFluxo)")
							img(src="img/edit.png")
						a(data-reveal-id="confirmar" id="excluir_{{fluxo.codigoFluxo}}" ng-click="show('deletar', fluxo.codigoFluxo)")
							img(src="img/exc.png" style="margin-left:12px;")

		div.row
			div#confirmar.tiny.reveal-modal(data-reveal style = "height: 220px;")
				p.lead Confirmação
				hr
				a.close-reveal-modal(aria-label="Close") &#215;
				p Deseja excluir o fluxo de caixa {{fluxoSelecionado | limitTo: 20}}{{fluxoSelecionado.length > 20 ? "..." : "" }}?

				div(style="margin-top: -12px;")
					div.small-3.medium-3.large-2.large-offset-2.columns
						a#dell.close-reveal-modal(href="#" ng-click='deletar(fluxoSelecionado)')
							p.button.radius.info Deletar

					div.small-3.medium-3.large-2.large-offset-10.columns
						a.close-reveal-modal(href="#")
							p.button.radius.alert Cancelar

		div.row
			div.small-6.medium-8.large-12.columns
				div#fluxoDeCaixaModal.reveal-modal(data-reveal style="min-height: 370px;")
					a.close-reveal-modal(aria-label="Close") &#215;
					form(method="post" name="fluxoCaixaForm")
						div.row
							div.small-12.medium-12.large-12.columns
								h4 {{titleModal}} Fluxo de Caixa
								hr

						div.row
							div.small-4.medium-4.large-2.columns
								label Código
								input(type="text" ng-model="caixa.codigoFluxo" required ng-disabled='disableCod' name="codigoTest")
							div.small-4.medium-4.large-6.columns
								label Descrição
								input(type="text" ng-model="caixa.descricao" required maxlength="60" name="descriTest")
							div.small-4.medium-4.large-4.columns
								label Status
								select(ng-model="caixa.status" required)
									option#slc(value="Analítico") Analítico
									option#slctwo(value="Sintético") Sintético

						div.row
							div.small-12.medium-12.large-12.columns
								div.row
									div.small-3.medium-3.large-3.columns
										label Tipo
										select(ng-model="caixa.tipo" required)
											option#slc2(value="Entrada") Entrada
											option#slc2two(value="Saída") Saída
									div.small-3.medium-3.large-3.columns
										label Classe
										select(ng-model="caixa.classe" required)
											option#slc3(value="Patrimonial") Patrimonial
											option#slc3two(value="Resultado") Resultado

									div.small-3.medium-3.large-3.columns
										label Código Contábil
										input(type="text" name="contaTest" ng-model="caixa.contaContabil" required maxlength="60")

									div.small-3.medium-3.large-3.columns
										label Apêndice Contábil
										input(type="text" name="apendiceContabil" ng-model="caixa.apendiceContabil" ng-pattern="/^\\d{1}$/" required maxlength="1")

							hr

						div.row
							div.small-3.medium-3.large-2.large-offset-8.columns
								a.close-reveal-modal(style="margin-top: -10px;")
									button#cadastrar.button.radius.info(ng-disabled="!fluxoCaixaForm.$valid" ng-click='salvar(caixa)') Cadastrar

							div.small-3.medium-3.large-2.columns(style="margin-top: -10px;")
								a.close-reveal-modal
									p.button.radius.alert Cancelar

						div.row
							div.small-3.medium-3.large-6.columns
								small.error(ng-show="fluxoCaixaForm.apendiceContabil.$error.pattern") O campo terá que conter apenas um número inteiro.

						div.row
							div.small-6.medium-6.large-6.columns
								small.error(ng-show="validacao") Código já existente.

	script(src="lib/foundation/vendor/jquery.js")
	script(src="lib/foundation/foundation.min.js")
	script(type="text/javascript") $(document).foundation();






