<!DOCTYPE html>
<html ng-app="listaTele">
<head>
<meta charset="UTF-8">
<title>Fluxo de Caixa</title>
<script type="text/javascript" src="lib/angular/angular.js"></script>
<script type="text/javascript" src="lib/angular/angular-resource.js"></script>
<script type="text/javascript" src="lib/angular/angular-route.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script src="lib/foundation/vendor/modernizr.js"></script>
<link rel="stylesheet" href="lib/foundation/foundation.css" />
<link rel="stylesheet" href="lib/foundation/normalize.css" />
</head>

<body ng-Controller="listaCtrl">

	<div class="row">
		<div class="small-8 medium-6 large-6 columns">
			<h3>
				<i>Fluxo de Caixa</i>
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="small-4 medium-5 large-6 columns">
			<input ng-model="buscar" class="form-control" type="text"
				placeholder="Pesquisar..." />
		</div>
		<div class="small-5 medium-4 large-6 columns">
			<button data-reveal-id="myModal" class="tiny radius info">Cadastrar
				Fluxo de Caixa</button>
		</div>
	</div>

	<div class="row">
		<table class="small-2 medium-6 large-12 columns">
			<tr>
				<td><strong>Código</strong></td>
				<td><strong>Descrição</strong></td>
				<td><strong>Tipo</strong></td>
				<td><strong>classe</strong></td>
				<td><strong>Status</strong></td>
				<td><strong>Ações</strong></td>
			</tr>
			<tr ng-repeat="fluxo in fluxos | filter:buscar">
				<td>{{fluxo.codigoFluxo}}</td>
				<td>{{fluxo.descricao}}</td>
				<td>{{fluxo.tipo}}</td>
				<td>{{fluxo.classe}}</td>
				<td>{{fluxo.status}}</td>
				<td>
					<a ng-click="#"><img src="img/edit.png" /></a>
					<a ng-click="#"><img src="img/exc.png" style="margin-left:12px;" /></a>
				</td>
			</tr>
		</table>
	</div>

	<!-- Modal -->
	<div class="row">
		<div class="small-6 medium-8 large-12 columns">
			<div id="myModal" class="reveal-modal" data-reveal>
				<form action="" method="post">
					<div class="row">
						<div class="small-12 medium-12 large-12 columns">
							<h4>Adicionar Fluxo de Caixa</h4>
							<hr>
						</div>
					</div>
					<div class="row">
						<div class="small-4 medium-4 large-2 columns">
							<label>Código</label> <input type="text" ng-model="caixa.codigoFluxo" />
						</div>
						<div class="small-4 medium-4 large-6 columns">
							<label>Descrição</label> <input type="text" ng-model="caixa.descricao" />
						</div>
						<div class="small-4 medium-4 large-4 columns">
							<label>Status</label> 
							<select ng-model="caixa.status">
								<option value="Analítico">Analítico</option>
								<option value="Sintético">Sintético</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="small-12 medium-12 large-12 columns">
							<div class="row">
								<div class="small-3 medium-3 large-3 columns">
									<label>Tipo</label>
									<select ng-model="caixa.tipo">
										<option value="Entrada">Entrada</option>
										<option value="Saída">Saída</option>
									</select>
								</div>
								<div class="small-3 medium-3 large-3 columns">
									<label>Classe</label>
									<select ng-model="caixa.classe">
										<option value="Patrimonial">Patrimonial</option>
										<option value="Resultado">Resultado</option>
									</select>
								</div>
								<div class="small-3 medium-3 large-3 columns">
									<label>Código Contábil</label> <input type="text" ng-model="caixa.contaContabil" />
								</div>
								<div class="small-3 medium-3 large-3 columns">
									<label>Apêndice Contábil</label> <input type="text" ng-model="caixa.apendiceContabil" />
								</div>
							</div>
							<hr>
						</div>
					</div>
					<div class="row">
						<div class="small-3 medium-3 large-2 large-offset-8 columns">
							<button class="button radius info" ng-click='salvar(caixa)'>Cadastrar</button>
						</div>

						<div class="small-3 medium-3 large-2 columns" style='margin-top:-12px;'>
							<a href="#" class="close-reveal-modal" ><p class="button radius alert">Cancelar</p></a>
						</div>
					</div>
				</form>
				<a class="close-reveal-modal" aria-label="Close">&#215;</a>
			</div>
		</div>
	</div>

	<script src="lib/foundation/vendor/jquery.js"></script>
	<script src="lib/foundation/foundation.min.js"></script>
	<script>
		$(document).foundation();
	</script>
</body>
</html>