<!DOCTYPE html>
<html ng-app="listaTele">
<head>
<meta charset="UTF-8">
<title>Fluxo de Caixa</title>
<script type="text/javascript" src="lib/angular/angular.js"></script>
<script type="text/javascript" src="lib/angular/angular-resource.js"></script>
<script type="text/javascript" src="lib/angular/angular-route.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<link rel="stylesheet" href="lib/foundation/foundation.css" />
<link rel="stylesheet" href="lib/foundation/normalize.css" />
</head>

<body ng-Controller="listaCtrl">
	
	<br/>
	<br/>
	<div class="row">
		<div class="small-8 medium-6 large-6 columns">
			<h3>
				<i>Fluxo de Caixa</i>
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="small-4 medium-5 large-6 columns">
			<input ng-model="buscar" class="form-control" type="text"
				placeholder="Pesquisar..." />
		</div>
		<div class="small-5 medium-4 large-6 columns">
			<button data-reveal-id="fluxoDeCaixaModal" name="botaoTest" class="tiny radius info" ng-click = "show('cadastrar')" >Cadastrar Fluxo de Caixa</button>
		</div>
	</div>
	
	<div ng-show="load" style="margin-left: 40%; margin-top: 100px;"><img src="img/load/load.gif"/></div>
	
	<div class="row" ng-show="!load">
		<table id="tabl" class="small-2 medium-6 large-12 columns">
			<tr>
				<th><a href='#' ng-click="ordenarPor('codigoFluxo'); showIcon('codigo'); iconOrder=!iconOrder">Código</a>
					<img ng-show='codigoIcon' src="img/{{icon}}" /></th>
					
				<th><a href='#' ng-click="ordenarPor('descricao'); showIcon('descricao'); iconOrder=!iconOrder">Descrição</a>
					<img ng-show='descricaoIcon' src="img/{{icon}}" /></th>
					
				<th><a href='#' ng-click="ordenarPor('tipo'); showIcon('tipo'); iconOrder=!iconOrder">Tipo</a>
					<img ng-show='tipoIcon' src="img/{{icon}}" /></th>
					
				<th><a href='#' ng-click="ordenarPor('classe'); showIcon('classe'); iconOrder=!iconOrder">classe</a>
					<img ng-show='classeIcon' src="img/{{icon}}" /></th>
					
				<th><a href='#' ng-click="ordenarPor('status'); showIcon('status'); iconOrder=!iconOrder">Status</a>
					<img ng-show='statusIcon' src="img/{{icon}}" /></th>
					
				<th><a>Ações</strong></th>
			</tr>
			
			<tr ng-repeat="fluxo in fluxos | filter:{descricao:buscar} |orderBy: criterio: direcao">
				<td>{{fluxo.codigoFluxo | limitTo: 15}}{{fluxo.codigoFluxo.length > 15 ? "..." : "" }}</td>
				<td>{{fluxo.descricao | limitTo: 20}}{{fluxo.codigoFluxo.length > 20 ? "..." : "" }}</td>
				<td>{{fluxo.tipo}}</td>
				<td>{{fluxo.classe}}</td>
				<td>{{fluxo.status}}</td>
				<td>
					<a data-reveal-id="fluxoDeCaixaModal" id="editar_{{fluxo.codigoFluxo}}" ng-click = "show('editar', fluxo.codigoFluxo)"><img src="img/edit.png" /></a>
					<a data-reveal-id="confirmar" id="excluir_{{fluxo.codigoFluxo}}" ng-click = "show('deletar', fluxo.codigoFluxo)"><img src="img/exc.png" style="margin-left:12px;" /></a>
				</td>
			</tr>
		</table>
	</div>
	
	<!-- Modal de confirmação do delete -->
	<div class="row">
		<div id="confirmar" class="tiny reveal-modal" data-reveal style = "height: 220px;">
	        <p class="lead">Confirmação</p><hr/>
	        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
	        <p>Deseja excluir o fluxo de caixa {{fluxoSelecionado | limitTo: 20}}{{fluxoSelecionado.length > 20 ? "..." : "" }}?</p>
	        
	        <div style="margin-top: -12px;">
			    <div class="small-3 medium-3 large-2 large-offset-2 columns">
					<a href="#" id="dell" class="close-reveal-modal" ng-click='deletar(fluxoSelecionado)'><p class="button radius info">Deletar</p></a>
				</div>
			
				<div class="small-3 medium-3 large-2 large-offset-10 columns">
					<a href="#" class="close-reveal-modal"><p class="button radius alert">Cancelar</p></a>
				</div>
			</div>
	    </div>	
    </div>

	<!-- Modal de cadastro ou edição-->
	<div class="row">
		<div class="small-6 medium-8 large-12 columns">
			<div id="fluxoDeCaixaModal" class="reveal-modal" data-reveal style="min-height: 370px;">
				<a class="close-reveal-modal" aria-label="Close">&#215;</a>
				<form method="post" name="fluxoCaixaForm">
					<div class="row">
						<div class="small-12 medium-12 large-12 columns">
							<h4>{{titleModal}} Fluxo de Caixa</h4>
							<hr/>
						</div>
					</div>
					<div class="row">
						<div class="small-4 medium-4 large-2 columns">
							<label>Código</label> <input type="text" ng-model="caixa.codigoFluxo" required ng-disabled=disableCod name="codigoTest" />		
						</div>
						
						<div class="small-4 medium-4 large-6 columns">
							<label>Descrição</label> <input type="text" ng-model="caixa.descricao" required maxlength="60" name="descriTest" />
						</div>
						
						<div class="small-4 medium-4 large-4 columns">
							<label>Status</label> 
							<select ng-model="caixa.status" required>
								<option id="slc" value="Analítico">Analítico</option>
								<option id="slctwo" value="Sintético">Sintético</option>
							</select>
						</div>
					</div>
					
					<div class="row">
						<div class="small-12 medium-12 large-12 columns">
							<div class="row">
								<div class="small-3 medium-3 large-3 columns">
									<label>Tipo</label>
									<select ng-model="caixa.tipo" required>
										<option id="slc2" value="Entrada">Entrada</option>
										<option id="slc2two" value="Saída">Saída</option>
									</select>
								</div>
								
								<div class="small-3 medium-3 large-3 columns">
									<label>Classe</label>
									<select ng-model="caixa.classe" required>
										<option id="slc3" value="Patrimonial">Patrimonial</option>
										<option id="slc3two" value="Resultado">Resultado</option>
									</select>
								</div>
								
								<div class="small-3 medium-3 large-3 columns">
									<label>Código Contábil</label> <input type="text" name="contaTest" ng-model="caixa.contaContabil" required maxlength="60" />
								</div>
								
								<div class="small-3 medium-3 large-3 columns">
									<label>Apêndice Contábil</label>
									<input type="text" name="apendiceContabil" id="apendTest" ng-model="caixa.apendiceContabil" ng-pattern="/^\d{1}$/" required maxlength="1" />
								</div>
							</div>
							<hr>
						</div>
					</div>
					
					<div class="row">
						<div class="small-3 medium-3 large-2 large-offset-8 columns">
							<a class="close-reveal-modal" style="margin-top: -10px;">
								<button id="cadastrar" class="button radius info" ng-disabled="!fluxoCaixaForm.$valid" ng-click='salvar(caixa)'>Cadastrar</button>
							</a>
						</div>
	
						<div class="small-3 medium-3 large-2 columns" style="margin-top: -10px;">
							<a class="close-reveal-modal"><p class="button radius alert">Cancelar</p></a>
						</div>
					</div>
					<div class="row">
						<div class="small-3 medium-3 large-6 columns">
							<small ng-show="fluxoCaixaForm.apendiceContabil.$error.pattern" class="error">
								O campo Apêndice Contábil terá que conter apenas um número inteiro.
							</small>
						</div>
					</div>
	
					<div class="row">
						<div class="small-6 medium-6 large-6 columns" >
							<small ng-show="validacao" class="error">
								Código já existente.
							</small>
						</div>
					</div>								
				</form>
			</div>
		</div>
	</div>

	<script src="lib/foundation/vendor/jquery.js"></script>
	<script src="lib/foundation/foundation.min.js"></script>
	<script>
		$(document).foundation();
	</script>
</body>
</html>